<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SageFrame.Core.Properties.Settings.SageFrameConnectionString"
            connectionString="Data Source=.\;Initial Catalog=SageFrame;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>