/* for admin setting */
.sfBannerimage {
	max-width:300px;
	max-height:200px;
}
/* fronted view */
.sfBannerslide {
	height:400px;
	overflow:hidden;
}
.bx-window ul {
	overflow:hidden;
	height:400px;
}
.bx-window ul#slider li, .bx-window ul#slider li img {
}
.sfImageholder {
}
.sfBannerdesc {
	position:absolute;
	background-color:transparent;
	background-color:rgba(0, 0, 0, 0.5);
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000, endColorstr=#7f000000);
	zoom: 1;
	top:64%;
	text-align:left;
	font:normal 12px/18px Arial, Helvetica, sans-serif;
	color:#fff;
	left:0;
	width:400px;
	padding:10px 20px;
	text-shadow:0 1px 1px rgba(0, 0, 0, 0.5);
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
#sfBanner .sfModule h2 {
	color:#fff;
	text-shadow:0 1px 1px rgba(0, 0, 0, 0.5);
	font:24px/35px Helvetica, Arial, sans-serif;
	margin-bottom:0;
}
#sfBanner .sfModule a {
	color:#FFD700;
	font-size:12px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#sfBanner .sfModule a:hover {
	text-shadow:0 0 2px #fff6c8;
}
.sfBannerdesc a.sfReadmore {
	color:#fff;
}
.bx-next {
	position: absolute;
	top: 85%;
	right:3%;
	z-index: 99;
	width: 24px;
	height: 24px;
	text-indent: -999999px;
	background: url(../images/gray_next.png) no-repeat;
}
/*previous button*/
.bx-prev {
	position: absolute;
	top: 85%;
	right:7%;
	z-index: 99;
	width: 24px;
	height: 24px;
	text-indent: -999999px;
	background: url(../images/gray_prev.png) no-repeat;
}
/*pager links*/
.bx-pager a {
	margin-right: 5px;
	color: #fff;
	padding: 3px 8px 3px 6px;
	font-size: 12px;
	zoom: 1;
	background: url(../images/gray_pager.png) no-repeat 0 -20px;
}
/*auto start button*/
.bx-auto .start {
	background: url(../images/gray_auto.png) no-repeat 0 2px;
	padding-left: 13px;
}
/*auto stop button*/
.bx-auto .stop {
	background: url(../images/gray_auto.png) no-repeat 0 -14px;
	padding-left: 13px;
}
/*
 * End color scheme styles
 */


/*next/prev button hover state*/
.bx-next:hover, .bx-prev:hover {
	background-position: 0 0;
}
/*pager links hover and active states*/
.bx-pager .pager-active, .bx-pager a:hover {
	background-position: 0 0;
}
/*pager wrapper*/
.bx-pager {
	text-align: center;
	padding-top: 7px;
	font-size: 12px;
	color: #666;
	position:absolute;
	top:87%;
	left:10px;
	z-index:999;
}
/*captions*/
.bx-captions {
	text-align: center;
	font-size: 12px;
	padding: 7px 0;
	color: #666;
}
/*auto controls*/
.bx-auto {
	text-align: center;
	padding-top: 15px;
}
.bx-auto a {
	color: #666;
	font-size: 12px;
}
.container span.cssclassNoBanner {
	font: bold 24px/36px Arial, Helvetica, sans-serif;
	color: #fff;
	text-align: center;
	display: block;
	padding-top: 50px;
}
ul.thumbs a.pager-active img {
	border: 3px solid #515151;
	-moz-opacity: 2;
	-khtml-opacity:2;
	opacity: 2;
}
ul.thumbs {
	top: 1;
	padding: 3;
	margin: 3;
	position: absolute;
	width: 100%;
	float: left;
	margin-top:-155px;
	-moz-opacity: 0.5;
	-khtml-opacity:0.5;
	opacity: 0.6;
}
ul.thumbs li {
	cursor: hand;
	cursor: pointer;
	display:inline;
	width: 100%;
	padding: 0;
	position: relative;
}
.navouter {
	color: #FFFFFF;
	height: 276px !important;
	margin-top: -348px;
	overflow:hidden;
	position:absolute;
	right: 2px;
	width: 78px !important;
}
.slider-main-outer {
	position:fixed;
	z-index:3px;
	overflow:hidden;
}
