<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="SageFrame.Banner.Properties.Settings.SageFrameConnectionString"
        connectionString="Data Source=192.168.3.26;Initial Catalog=SageFrame;User ID=sa;Password=sa"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>