<?xml version="1.0"?>
<connectionStrings>
  <clear />
  <add name="SageFrameConnectionString" connectionString="Data Source=localhost;Initial Catalog=SageframeThree;Integrated Security=False;Persist Security Info=False;User ID=sa;Password=sa;Connect Timeout=120" providerName="System.Data.SqlClient" />
</connectionStrings>