<?xml version="1.0"?>
<connectionStrings>
  <clear />
  <add name="SageFrameConnectionString" connectionString="Data Source=SARU;Initial Catalog=manoj;Integrated Security=False;Persist Security Info=False;User ID=manoj;Password=12345;Connect Timeout=120" providerName="System.Data.SqlClient" />
</connectionStrings>