<?xml version="1.0"?>
<appSettings>
  <clear />
  <add key="FCKeditor:BasePath" value="~/Editors/fckeditor/" />
  <add key="CKeditor:BasePath" value="~/Editors/ckeditor" />
  <add key="FCKeditor:UserFilesPath" value="~/Upload/" />
  <!-- BD Management Keyes -->
  <add key="DatabaseName" value="sf01" />
  <add key="objectQualifier" value="" />
  <add key="databaseOwner" value="dbo" />
  <add key="databaseVersion" value="02.00.00" />
  <add key="IsInstalled" value="true" />
  <add key="InstallationDate" value="3/4/2013" />
  <add key="SageFrameVersion" value="02.00" />
  <!-- End BD Management Keyes -->
  <add key="ShowException" value="false" />
</appSettings>