<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BD.ECT.Common.Properties.Settings.SfoptConnectionString"
            connectionString="Data Source=NISCHAL-PC\SQLEXPRESS;Initial Catalog=Sfopt;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="SageFrame.Common.Properties.Settings.SageFrameConnectionString"
            connectionString="Data Source=braindignet;Initial Catalog=SageFrame;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="SageFrame.Common.Properties.Settings.SfoptConnectionString"
            connectionString="Data Source=NISCHAL-PC\SQLEXPRESS;Initial Catalog=Sfopt;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>