@charset "utf-8";
/* CSS Document */
/* for test */
html, body, form{ height:50%; margin:0px;	padding:0px; }
body{font:12px/18px Arial, Helvetica, sans-serif; background-color:#e9e7e4;}
h1 { font-size:26px;}
h2 { font:normal 26px "Trebuchet MS", Arial, Helvetica, sans-serif;}
h3 {font-size:16px;}
h4 {font-size:14px;}
h5 {font-size:12px;}
h6 {font-size:12px;}
input, textarea, select {outline:none; overflow:auto;}
p {	font:12px/18px Arial, Helvetica, sans-serif; color:#3b3b3b; }
ul, li, ol {list-style:none;}
a img {	border:none;}
a {	text-decoration:none; color:#0058A3; font-size:11px;}
a:hover {color:#000;}

.sfWrapper p, .sfWrapper pre, .sfWrapper blockquote, .sfWrapper h1, .sfWrapper h2, .sfWrapper h3, .sfWrapper h4, .sfWrapper h5, .sfWrapper h6, .sfWrapper ol, .sfWrapper ul, .sfWrapper dl{ margin:10px 0; padding:0;}

.clear{ clear:both; width:100%;}
* html .clearboth { height:1%; }
html[xmlns] .clearboth { display:block; }
.clearboth:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }

#sfOuterWrapper{ width:80%; margin:0 auto; border:1px solid green}
.sfWrapper{ width:95%; margin:0 auto;}
#sfBanner{}
#sfNavigation{}
#sfbodyContent{}
#sfLeft{ float:left; width:19%; margin:0 1% 0 0; }
.sfLeft1, .sfLeft2, .sfRight1, .sfRight2{ float:left; width:48%; }
.sfLeft2, .sfRight2{ float:right; }
.sfFullwidth{ width:100%; clear:both;}

.sfModulecontent{ padding:20px;}

.sfcolsWrap{}

#sfmainWrapper{ float:left; width:100%; }
#sfRight{ float:left; width:19%; margin:0 0 0 1%; }

#sfFooter{ }

#sfBanner .sfWrapper{ padding:25px 0 0 0;}

/* -- logo --*/
.sfLogo{ float:left}

/* navigatin */
#sfNavigation{ float:right; padding:10px 0 0 0; }
#sfNavigation .sfWrapper{  float:right; width:auto;}
#sfNavigation .sfWrapper ul{  background-color: #C0C0C0;
    border-bottom: 3px solid #2384BC;
    float: right;
    padding: 12px 0 14px;}
#sfNavigation .sfWrapper ul li {
   border-left: 1px solid #EEEEEE;
    color: #525252;
    cursor: pointer;
    float: left;
    font-size: 9pt;
    margin: 0 0 0 10px;
    padding-left: 60px;
    padding-right: 45px;
}
#sfNavigation .sfWrapper ul li a{ font:normal 14px Arial, Helvetica, sans-serif; color:#000; text-shadow:1px 1px 0 #f7f6f5; text-transform:uppercase;}
#sfNavigation .sfWrapper ul li a:hover, #sfNavigation .sfWrapper ul li a.active{ color:#146fa3;}

/* button */
.sfButton{}
.sfButton a, .sfContactform input.btn{ background:url(../images/read-more-bg.jpg) repeat-x 0 0; display:inline-block; margin:0 5px 0 0; border:1px solid #c5c5c5; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; font:normal 12px Arial, Helvetica, sans-serif; color:#616161; text-shadow:1px 1px 0 #fff; padding:5px 10px;} 
.sfButton a:hover, .sfContactform input.btn:hover{ background:url(../images/read-more-bg-hover.jpg) repeat-x 0 0; color:#000;}


/* focused */
#sfFixed {
	text-align:left;
}
#sfFixed .sfInnerwrapper {
	padding:0 0 30px 0;
}
#sfFixed h2 {
	text-shadow:1px 1px 0 #fff;
}
#sfFixed .sfInnerwrapper .sfMoreblocks {
	background:#FBFBFB;
	border:1px solid #ededed;
	width:60%;
}
#sfFixed img {
	margin:10px 0 0 7px;
}
#sfFixed .sfFixed1 .sfWrapper, #sfFixed .sfFixed2 .sfWrapper {
	border-right:1px dotted #d9d9d9;
}
#sfFixed .sfModule {
	margin-top:30px;
}

/* spotlight */
#sfSpotLight{ margin:0;}
#sfSpotLight .sfWrapper{ background:url(../images/blue-pattern.jpg) repeat;}
.sfBox{ float:left; width:33.3%; text-align:right;}
#sfSpotLight .sfModulecontent{ height:100px;}
#sfSpotLight .first .sfModulecontent{ background:url(../images/live-healthy-today.png) no-repeat center 20px;}
#sfSpotLight .center .sfModulecontent{ background:url(../images/regular-check-up.png) no-repeat center 20px;}
#sfSpotLight .last .sfModulecontent{ background:url(../images/healthy-outside.png) no-repeat center 20px;}
#sfSpotLight .first, #sfSpotLight .center{ background:url(../images/seperator.jpg) repeat-y right;}
#sfSpotLight .sfModulecontent p{ padding:0 10px 0 0;}
#sfSpotLight .sfModulecontent .sfButton{ padding:9px 10px 0 0; }


/* body content */
#sfBodyContent{}
#sfBodyContent .sfWrapper{ background:url(../images/white-pattern.jpg) repeat;	}
#sfBodyContent img{ border:1px solid #dcdcdc; background:#fff; padding:2px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}


/* welcome to our website */
.sfContentmasTop{ padding:0 20px;}
.sfContentmasTop .sfModulecontent{ padding:0; }

/* main content */
.sfmainContent{ padding:0; }

.sfcurrentContent{ padding:0 20px;}

/* content btn */
.sfMaincontentbottom{}
.sfMaincontentbottom .textimonials{ background:rgba(58, 58, 58, 0.10); }
.sfMaincontentbottom .sfModulecontent{ padding:10px 20px;}
.sfMaincontentbottom .sfModulecontent p{ font:italic 16px/22px Georgia, "Times New Roman", Times, serif; color:#3d3d3d;}


/* index whats new */
.sfWhatsnew{ float:left; width:33.3%;}
.sfWhatsnew h3{ margin:0 10px 0 0; font:normal 12px Arial, Helvetica, sans-serif;}
.sfWhatsnew p{ margin:5px 0 15px 0;}
.sfWhatsnew .sfModulecontent{ padding:0 20px 20px 0;}
.sfWhatsnew .sfModulecontent .sfPicture{ float:left; margin:0 10px 0 0;}
.sfWhatsnew .sfModulecontent .sfContent{ overflow:hidden; }

/* index about us */
.sfAbout{ float:left; width:33.33%;}
.sfAbout .sfModulecontent{ padding:0 20px 0 0;}
.sfAbout .sfModulecontent img{ margin:0 0 10px 0; }

.sfAbout ul li{ background:url(../images/black-arrow.png) no-repeat 0 50%; }
.sfAbout ul li a{ background:url(../images/dashed.png) repeat-x bottom; font:12px/30px Arial, Helvetica, sans-serif; color:#3d3d3d; display:block; padding:0 0 0 15px; overflow:hidden;}


/* index services */

.sfServices{ float:left; width:33.33%;}
.sfServices .sfModulecontent{ padding:0;}
.sfServices .sfModulecontent ul{ margin:0 0 10px 0;}
.sfServices ul li{ background:url(../images/black-arrow.png) no-repeat 0 50%; }
.sfServices ul li a{ background:url(../images/dashed.png) repeat-x bottom; font:12px/29px Arial, Helvetica, sans-serif; color:#0058a3; display:block; padding:0 0 0 15px; overflow:hidden;}


/* index works */
.sfMaincontentbottom  .sfWorks{ padding:0;}
.sfWorks ul li{ float:left; margin:10px 16px;}

/* latest twits */
.sfLatesttwits{ float:left; width:33.33%}
.sfLatesttwits p{ font:12px/16px Arial, Helvetica, sans-serif; margin:0 0 20px 0;}
.sfLatesttwits p strong{ font-size:11px;}

/* latest blog */
.sfLatestblog{ float:left; width:33.33%}
.sfLatestblog p{ clear:both;}
.sfLatestblog p img{ margin:0 5px 20px 0;}

/* contact form */
.sfContactform{ float:left; width:33.33%}
.sfContactform input, .sfContactform textarea{ border-top:1px solid #c1bebc; border-left:1px solid #c1bebc; border-bottom:1px solid #fff; border-right:1px solid #fff; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; width:275px; background:#e5e2e0; padding:5px; font:12px Arial, Helvetica, sans-serif; color:#6b6b6b;}
.sfContactform textarea{ height:80px;}
.sfContactform input.btn{ width:auto;}


/* footer */
#sfFooter{ margin:20px 0 0 0;}
#sfFooter .sfFootertop{}
#sfFooter .sfCopyright{ float:left;}
#sfFooter .sfFooternav{ float:right;}
#sfFooter .sfFooternav ul{ float:right; }
#sfFooter .sfFooternav ul li{ float:left; margin:0 5px; }
#sfFooter .sfFooternav ul li a{ font:normal 12px Arial, Helvetica, sans-serif; color:#444342; }
#sfFooter .sfFooternav ul li a:hover, #sfFooter .sfFooternav ul li a.active{ color:#5291b4;}

.sfFooterbottom{background:url(../images/footer-top-bg.jpg) repeat-x top #e3e0dd; }


/*---Top Bar---*/
.sfTopbar{ background:url(../images/top-bar-bg.gif) repeat-x top #006c95; border-bottom:1px solid #fff; padding:4px 0; padding:5px 0; position:fixed; left:0px; top:0px; height:20px; width:100%;z-index: 9878988; }
.sfTopbar ul li{ float:left; margin:0 10px;}
.sfTopbar ul li a{ font:11px Arial, Helvetica, sans-serif; color:#e6f1f5; text-decoration:none;}
.sfTopbar ul li a:hover{ text-decoration:underline; }

.sfTopbar ul.left li img, .sfTopbar ul.left li a{ float:left; }
.sfTopbar ul.left li img{ margin:0 5px 0 0;}

.sfTopbar ul.right li{ padding:0 5px 0 15px; margin:0 5px;}
.sfTopbar ul.right li.preview{ background:url(../images/preview.png) no-repeat 0 50%;}
.sfTopbar ul.right li.myaccount{ background:url(../images/my-account.png) no-repeat 0 50%;}
.sfTopbar ul.right li.logout{ background:url(../images/logout.png) no-repeat 0 50%;}


/*menu design*/
.sfmenu ul li
{
	width:120px;
}
/* header */
#sfHeaders .sfInnerwrapper {
	padding:10px 0 30px 0;
}
#sfHeaders p, #sfHeaders .sfModule {
	padding:0;
	margin:0;
}
#sfLogo {
	margin:20px 0 0 0;
}
.sfLogo a {
	display:inline-block;
	margin:5px 0 0 0;
}
/*Login Status*/
.sfLogininfo {
	float:right;
	clear:both;
}
.sfLogininfo li {
	float:left;
	margin:0 3px;
}
.sfLogininfo li a {
	font:normal 12px/20px Arial, Helvetica, sans-serif;
}
/* breadcrumb */
#sfBreadcrumb .sfModule {
	margin:0;
}
.sfBreadcrumb {
	overflow:hidden;
}

/* search */
#sfSearch .sfSearchwrapper {
	float:right;
	margin:20px 0 0 0;
}
/* navigation */
#sfNavigation .sfModule {
	margin-left:0;
	margin-right:0;
	padding:0;
}
/* banner */
#sfBanner .sfInnerwrapper {
	padding:0 0 30px 0;
}
#sfBanner .sfModule {
	margin:0;
}
/* focused */
#sfFixed {
	text-align:left;
}
#sfFixed .sfInnerwrapper {
	padding:0 0 30px 0;
}
#sfFixed h2 {
	text-shadow:1px 1px 0 #fff;
}
#sfFixed .sfInnerwrapper .sfMoreblocks {
	background:#FBFBFB;
	border:1px solid #ededed;
	width:100%;
}
#sfFixed img {
	margin:10px 0 0 7px;
}
#sfFixed .sfFixed1 .sfWrapper, #sfFixed .sfFixed2 .sfWrapper {
	border-right:1px dotted #d9d9d9;
}
#sfFixed .sfModule {
	margin-top:30px;
}
/* right Content*/
.ads img {
	border:1px solid #ddd;
}
/* footer */
#sfFooterblocks {
	background:#e9e9e9;
	overflow:hidden;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	padding:30px 0;
}
#sfFooterblocks .sfModule {
	margin:0;
	padding:0 50px 0 0;
}
#sfFooterblocks h2 {
	color:#333;
	font-size:16px;
	margin:0 0 20px 0;
}
#sfFooterblocks .sfFixed4 .sfModule {
	padding:0;
}
#sfFooterblocks .sfFixed4 .sfModule p {
	line-height:22px;
	margin:0;
}
#sfFooterblocks .Testimonials .sfHtmlview {
	padding:0 20px;
	background:url(../images/quote-top.png) no-repeat top left;
}
#sfFooterblocks .Testimonials .sfHtmlview p {
	background:url(../images/quote-btn.png) no-repeat bottom right;
}
#sfCopyright {
	background:#e1e1e1;
	padding:20px 0;
}
#sfCopyright p {
	text-align:center;
	font:12px Arial, Helvetica, sans-serif;
	margin:0;
	padding:0;
}
#sfCopyright .sfModule {
	margin:0;
}
/* inner page */
.sfInnerpage img {
	margin-bottom:20px;
}
.sfInnerpage ol li {
	list-style:square inside;
}
.sfInnerpage ul li {
	list-style:decimal inside;
}
.sfInnerpage img {
	border: 1px solid #ccc;
	padding:2px;
	background:#fff;
}
.sfInnerpage img, .sfInnerpage p {
	clear:both;
}
/* table data */
.sfInnerwrapper table {
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
	color:#555;
}
.sfInnerwrapper table th, .sfInnerwrapper table td {
	padding:5px;
	border-bottom:1px solid #ccc;
	border-left:1px solid #ccc;
}
.sfInnerwrapper table th {
	background:#999;
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#FFF;
}
.sfInnerwrapper table tr.sfEven {
	background:#eee
}
.sfInnerwrapper table tr.sfOdd {
	background:#E7E7E7;
}
.sfInnerwrapper table tr:hover {
	background:#fff;
}
img.left {
	margin-right:10px;
	float:left;
}
img.right {
	margin-left:10px;
	float:right;
}
.sfMidcontent li {
	padding:10px 0;
	overflow:hidden;
	border-bottom:1px dotted #ccc;
}
/* social icons */
.socialicons ul {
	margin:0;
}
.socialicons li {
	margin: 0 0 17px;
	padding: 0 0 0 25px;
}
.fbicon {
	background:url(../images/facebook.png) no-repeat left center;
}
.linkedicon {
	background:url(../images/linkedIn.png) no-repeat left center;
}
.twittericon {
	background:url(../images/twitter.png) no-repeat left center;
}
.rssicon {
	background:url(../images/rss.png) no-repeat left center;
}
li.rssicon {
	margin:0;
}
/* read more */
a.more {
	display:inline-block;
	padding:4px 12px;
	border:1px solid #d5d5d5;
	background:url(../images/btn-bg.gif) repeat-x;
	color:#555;
	text-shadow:0 1px 0 #f5f5f5;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	-webkit-box-shadow: inset 0px 1px 0px 0px #fff;
	-moz-box-shadow: inset 0px 1px 0px 0px #fff;
	box-shadow: inset 0px 1px 0px 0px #fff;
	font-weight:normal;
}
a.more:hover {
	background:url(../images/btn-bg-hover.gif) repeat-x;
}
#sfFulltopspan .sfInnerwrapper {
	padding:0;
	margin-bottom:50px;
}
#sfFulltopspan .sfModule {
	padding:0;
	margin:0;
}
#sfFulltopspan img {
	margin:0 0 0 20px;
}
.middlemaincurrent .Keyfeature ul {
	padding:0 0 0 15px;
	overflow:hidden;
	margin-bottom:0;
}
.middlemaincurrent .Keyfeature ul li {
	list-style:disc;
	padding:3px 0 3px 5px;
}
.sfMiddlemainbottom .whyuse {
	background:#FBFBFB;
	border:1px solid #ededed;
	padding:20px;
}
.sfMiddlemainbottom .whyuse p {
	padding:0;
	margin:0;
}
/* left holder */
#sfLeft .sfModule {
	margin-left:0;
	margin-bottom:30px;
	margin-right:30px;
}
#sfLeft .sfModule a.sfBtn {
	display:inline-block;
}
/* location map */
.map iframe {
	border:2px solid #ccc;
	background:#fff;
	padding:4px;
}
/*- border radius - */
#sfFixed .sfInnerwrapper .sfMoreblocks, .sfImageholder img, #sfFulltopspan img, .ads img, .sfMiddlemainbottom .whyuse {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
