<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SageFrame.News.Properties.Settings.SageFrameConnectionString"
            connectionString="Data Source=192.168.3.26;Initial Catalog=SageFrame;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="SageFrame.News.Properties.Settings.SageFrameConnectionString1"
            connectionString="Data Source=192.168.3.26;Initial Catalog=SageFrame;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="SageFrame.News.Properties.Settings.SageFrameWebSiteConnectionString"
            connectionString="Data Source=BRAINDIGNET;Initial Catalog=SageFrameWebSite;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="SageFrame.News.Properties.Settings.sftemplatingConnectionString"
            connectionString="Data Source=SUJANDOTNET;Initial Catalog=sftemplating;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>